[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Vaa3D
Type=Application
Terminal=false
Name[en_US]=Vaa3D
Exec='/cineca/prod/tools/RCM/1.0/gnu--4.1.2/bin/server/Desktop_setup/vaa3d.sh'
Icon=/cineca/prod/tools/RCM/1.0/gnu--4.1.2/bin/server/Desktop_setup/v3dIcon128.png
