[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec='/cineca/prod/tools/RCM/1.0/gnu--4.1.2/bin/server/Desktop_setup/paraview_3_98.sh'
GenericName=
GenericName[en_US]=
Icon=/cineca/prod/tools/RCM/1.0/gnu--4.1.2/bin/server/Desktop_setup/paraview.png
MimeType=
Name=paraview3.98
Name[en_US]=paraview3.98
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
