[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec='@RCM_SERVER_DIR@/Desktop_setup/tecplot.sh'
GenericName=
GenericName[en_US]=
Icon=/cineca/prod/tools/tecplot/2012R1/binary/tecplot-logo-200x129.png
MimeType=
Name=tecplot
Name[en_US]=tecplot
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
